graphs {
  graph_id: 1676964758
  priority: 0

  engines {
    id: 487
    engine_name: "general_image"
    side: HOST
    thread_num: 1
    so_name: "./libgeneral_image.so"
    ai_config {

    items {
        name: "data_source"
        value: "${template_data_source}"
      }
    items {
        name: "width"
        value: "800"
      }
    items {
        name: "height"
        value: "600"
      }
    items {
        name: "category"
        value: "21"
      }
    }
  }

  engines {
    id: 639
    engine_name: "general_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libgeneral_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/faster_rcnn.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 641
    engine_name: "general_post"
    side: HOST
    thread_num: 1
    so_name: "./libgeneral_post.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

       items {
        name: "Confidence"
        value: "0.9"
      }

      items {
        name: "PresenterIp"
        value: "192.168.1.134"
      }

      items {
        name: "PresenterPort"
        value: "7006"
      }

      items {
        name: "ChannelName"
        value: "${template_app_name}"
      }
    }
  }

  connects {
    src_engine_id: 487
    src_port_id: 0
    target_engine_id: 639
    target_port_id: 0
  }

  connects {
    src_engine_id: 639
    src_port_id: 0
    target_engine_id: 641
    target_port_id: 0
  }
}			
